
@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Reg.otf);
    }

@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);
    }

body {
   margin: 0px;
  }

  .maintext {
    grid-area: maintext;
    word-wrap: break-word;
    }

  .logotype {
    grid-area: logotype;
    }

  .request {
    grid-area: request;
    position: relative;
    padding-top: 50px;
  }

    .burger {
    grid-area: burger;
    position: relative;
    padding-top: 50px;
    padding-left: 5px;
    z-index: 100;
    }

.buttonbox {
    position: relative;
    float: right;
}
/*======================================начало выбор языка=============================================*/

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: ProximaNova;
    font-size: 15px;
    color: #273444;
}

.one .submenu {
    display: none;
    background: white;
}

.one ul li: hover .submenu {
    display: block;
}

.submenu li a {
    color: black;
    font-family: ProximaNova;
    font-size: 10px;
    color: #273444;
}


/*======================================конец выбор языка=============================================*/

  .wrapper {
    display: grid;
    height: 750px;
    grid-gap: 5px;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-template-rows: 200px 350px 200px;
    grid-template-areas:
    "logotype  request  request burger" 
    ". maintext maintext ."
    ". maintext maintext .";
    background-color: #fff;
    color: #444;
    }

  .box {
    /*background-color: #444;*/
    color: #fff;
    border-radius: 5px;
    /*padding: 20px;*/
    font-size: 150%;
    z-index: 2;
    }

  .logotype {
    /*background-color: #999;*/
    padding: 5vw;
    }

  .overlay {
    background-color: #d21f26;
    overflow: hidden;
    z-index: 1;
    grid-column: logotype-start / burger-end;
    grid-row: request-start / maintext-end;
  }

  video {
    /*-webkit-transform: scaleX(1.5);*/
    position: relative;
    width: 100%;
    height: auto ;
    }


#oformit{
    background-color: #d21f26;
    width: 298px;
    height: 44px;
    border-radius: 100px;
    }


#kupit{
    width: 184px;
    height: 44px;
    opacity: 0.2;
    border-radius: 100px;
    border: solid 2px #4a4a4a;
    }



 /* .applyfor {
    display: inline-block;
    vertical-align: top;
    background-color: #d21f26;
    color: #fff;
    font-family: ProximaNova;
    font-size: 12px;
    text-align: center;
    width: 300px;
    height: 45px;
    padding-top: 3em;
    padding-right: 5em;
    border-radius: 100px;
    }

/*    padding-right: 9%;
    width: 300px;
    height: 45px;
    border-radius: 100px;
    font-family: ProximaNova;
    font-size: 12px;
    text-align: center;
    color: #273444;
    float: right;*/

  .ru {
    
    float: left;    
    }

  


  /*.buyRMC {
    opacity: 1;
    color: black;
    padding-right: 7%;
    padding-top: 1em;
    font-family: ProximaNova;
    font-size: 12px;
    text-align: center;
    color: #273444;
    width: 180px;
    height: 45px;
    opacity: 0.2;
    border-radius: 100px;
    border: solid 2px #4a4a4a;
    float: right;
    }

/*НАЧАЛО ВЫБОР ЯЗЫКА*/
 /* ul {
   list-style: none; 
   margin: 0;
   padding: 0;
   }


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: ProximaNova;
    font-size: 15px;
    color: #273444;
}


.one .submenu {
    display: none;
    background: white;
}

.one ul li:hover .submenu {
    display: block;
}


.submenu li a {
  
    color: black;
    font-family: ProximaNova;
    font-size: 10px;
    color: #273444;
}
*/
/*КОНЕЦ ВЫБОР ЯЗЫКА*/

  .maintext h1{
    font-family: ProximaNova;
    font-size: 53px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

  .maintext h3{
    font-family: ProximaNovaLight;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

  .maintext p{
    font-family: ProximaNovaLight;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

/*wrapper1 ссылки и рассылки*/
  .leftpodval {
    grid-area: leftpodval;
    }

  .logos {
    padding-left: 10vw;  
    }

  .leftpodval h4 {
    grid-area: leftpodval;
    padding-left: 10vw;   
    }

  .rightpodval {
    grid-area: rightpodval;
    padding-left: 10vw;   
    }

  .wrapper1 {
    font-size: 20px;
    font-family: "ProximaNova-Light", sans-serif;
    overflow: hidden;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    grid-template-areas:
    "leftpodval rightpodval";

    background-color: #d21f26;
    color: #444;
    }

/*wrapper2 что такое RMC*/
  .wrapper2 {
    height: 750px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    background-color: #d21fff;
    color: #444;
    }
/*--------------------------------------------------------------------------------------------*/

/*-------------------------------------another resolution-------------------------------------*/

/*--------------------------------------------------------------------------------------------*/
@media screen and (orientation: portrait), screen and (max-width: 899px)   
{
  .wrapper {
    display: grid;
    height: 750px;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
    "logotype  request" 
    "maintext maintext"
    "maintext maintext";
    background-color: #fff;
    color: #444;
    }  

  .overlay {
    background-color: #d21f26;
    overflow: hidden;
    z-index: 1;
    grid-column: logotype / request;
    grid-row: request / maintext-end;
    }

  video {
    visibility: hidden;
    }

  .wrapper1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas:
    "leftpodval"
    "rightpodval";
    background-color: #d21f26;
    color: #444;
  }
}