
@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Reg.otf);
    }

@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);
    }

body {
   margin: 0px;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .maintext {
    grid-area: maintext;
  }

  .logotype {
    grid-area: logotype;
  }

  .request {
    grid-area: request;
    text-align: right;
  }


  .wrapper {
    display: grid;
    height: 750px;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
    "logotype  request  request" 
    "sidebar maintext maintext"
    "sidebar maintext maintext";
    background-color: #fff;
    color: #444;
  }

  .box {
    /*background-color: #444;*/
    color: #fff;
    border-radius: 5px;
    /*padding: 20px;*/
    font-size: 150%;
    z-index: 20;
  }

  .logotype {
    /*background-color: #999;*/
    padding: 5vw;
  }

  .overlay {
    background-color: #d21f26;
    z-index: 10;
    grid-column: logotype-start / request-end;
    grid-row: request-start / maintext-end;
  }

  video {
    /*-webkit-transform: scaleX(1.5);*/
    position: relative;
    width: 100%;
    height: auto ;
    }


.burger{
    float: left;
    }

.maintext h1{

  font-family: ProximaNova;
  font-size: 3vw;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
}

.maintext h3{
  font-family: ProximaNovaLight;
  font-size: 1.5vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
}

.maintext p{
  font-family: ProximaNovaLight;
  font-size: 1vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
}

/*wrapper1 ссылки и рассылки*/
/*--------Начало------------*/
  .leftpodval {
    grid-area: leftpodval;
  }

  .logos {
     padding-left: 10vw;  
  }

  .leftpodval h4 {
     padding-left: 10vw;   
  }

  .rightpodval {
    grid-area: rightpodval;
  }



  .wrapper1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 20vh;
    grid-template-areas:
    "leftpodval rightpodval";

    background-color: #d21f26;
    color: #444;
  }
/*--------Конец------------*/
/*wrapper1 ссылки и рассылки*/