:root {
  --steel-grey: #79818b;
  --darkish-blue: #003399;
  --purpley-grey: #9b9b9b;
  --black: #333333;
  --tomato: #eb4340;
  --lipstick: #d21f26;
  --dark: #273444;
  --white: #ffffff;
}

@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Reg.otf);
    }

@font-face {
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);
    }

body {
   margin: 0px;
  }


/*wrapper*/
/*-------------------------------------------------------------------------------------------------------------------------------------------*/
  .maintext {
    grid-area: maintext;
    word-wrap: break-word;
    }

  .logotype {
    grid-area: logotype;
    padding-top: 50px;
    padding-left: 30px;
    }

  .request {
    grid-area: request;
    position: relative;
    padding-top: 50px;
    }

    .burger {
    grid-area: burger;
    position: relative;
    padding-top: 50px;
    padding-left: 5px;
    z-index: 100;
    }

.buttonbox {
    position: relative;
    float: right;
}
/*================начало выбор языка=============*/
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: ProximaNova;
    font-size: 15px;
    color: #273444;
}

.one .submenu {
    display: none;
    background: white;
}

.one ul li: hover .submenu {
    display: block;
}

.submenu li a {
    color: black;
    font-family: ProximaNova;
    font-size: 10px;
    color: #273444;
}


/*==========конец выбор языка===============*/

  .wrapper {
    display: grid;
    height: 750px;
    grid-gap: 5px;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-template-rows: 200px 350px 200px;
    grid-template-areas:
    "logotype  request  request burger" 
    ". maintext maintext ."
    ". maintext maintext .";
    background-color: #fff;
    color: #444;
    }

  .wrapper .box {
    color: #fff;
    z-index: 2;
    }

  .overlay {
    background-color: #d21f26;
    overflow: hidden;
    z-index: 1;
    grid-column: logotype-start / burger-end;
    grid-row: burger-start / maintext-end;
  }

  video {
    position: relative;
    width: 100%;
    height: auto ;
    }

#oformit{
    background-color: #d21f26;
    width: 298px;
    height: 44px;
    border-radius: 100px;
    }

#kupit{
    width: 184px;
    height: 44px;
    opacity: 0.2;
    border-radius: 100px;
    border: solid 2px #4a4a4a;
    }

  .ru {
    float: left;    
    }
/*КОНЕЦ ВЫБОР ЯЗЫКА*/

  .maintext h1{
    font-family: ProximaNova;
    font-size: 53px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

  .maintext h3{
    font-family: ProximaNovaLight;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

  .maintext p{
    font-family: ProximaNovaLight;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #273444;
    }

/*wrapper1 ссылки и рассылки*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
  .leftpodval {
    grid-area: leftpodval;
    }

  .logos {
    padding-left: 10vw;  
    }

  .leftpodval h4 {
    grid-area: leftpodval;
    padding-left: 10vw;   
    }

  .rightpodval {
    grid-area: rightpodval;
    padding-left: 10vw;   
    }

  .wrapper1 {
    font-size: 20px;
    font-family: "ProximaNova-Light", sans-serif;
    overflow: hidden;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    grid-template-areas:
    "leftpodval rightpodval";

    background-color: #d21f26;
    color: #444;
    }

/*wrapper2 что такое RMC*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
  .wrapper2 {
    height: 900px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 200px 150px 570px;
    grid-template-columns: 1fr 765px 1fr;
    background-color: var(--white);
    color: #444;
     grid-template-areas:
    ". wrapper2text ."
    ". panel ."
    "rombs rombs rombs";
    }

  .rombs {
    grid-area: rombs; 
    }

  .wrapper2text {
    grid-area: wrapper2text;
    }
  
.RMC {
  height: 100px;
  font-family: ProximaNova;
  font-size: 70px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #273444;
  color: var(--dark);
  padding-top: 30px;
  }

.wrapper2text .about {
  width: 765px;
  height: 30px;
  font-family: ProximaNova;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #273444;
  color: var(--dark);
  }

.panel{
  grid-area: panel;
  }

.play{
  font-family: ProximaNova;
  font-size: 18px;
  width: 220px;
  height: 50px;
  float: left;
  padding-top: 20px;
  padding-left: 100px;
  }  

.text_play{
  float: right;
  padding-top: 15px;
  padding-right: 100px;
  }

.present{
  font-family: ProximaNova;
  font-size: 18px;
  width: 220px;
  height: 50px;
  float: left;
  padding-top: 20px;
  }

.text_present{
  float: right;
  padding-top: 15px;
  padding-right: 45px;
  }

.whitpaper{
  font-family: ProximaNova;
  font-size: 18px;
  width: 220px;
  height: 50px;
  float: left;
  padding-top: 20px;
  }

.text_whitpaper{
  float: right;
  padding-top: 15px;
  padding-right: 60px;
  }

/*-----------ромбы--------------------*/

.romb {
  margin:0 auto;
  width: 1400px;
  height: 300px;
  overflow:hidden;
  }

.rombs .romb1 {
  width: 300px;
  position: relative; 
  float: left;
  }

.rombs .romb2 {
  width: 300px;
  position: relative;
  float: left;
  }

.rombs .romb3 {
  width: 300px;
  position: relative;
  float: left;
}

.rombs .romb4 {
  width: 300px;
  position: relative;
  float: left;
}

.romb_solid1 {
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
  skew(18deg, 18deg)
  scale(1.05);
    border: 1px solid var(--lipstick) ;
    position: relative;
    }


.romb_dashed1 {
  width: 200px;
  height: 200px;
  scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    position: relative;
    }

.num1 {
  font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  position: relative;
  }

.romb1_text {
  width: 200px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  position: relative;
  }


.romb_solid2 {
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
  skew(18deg, 18deg);
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    position: relative;
    }

.romb_dashed2 {
  width: 200px;
  height: 200px;
    scale(1.15);
    padding: 2px;
    border: 1px dashed var( --purpley-grey) ;
    position: relative;
    }

.num2 {
  font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  }

.romb2_text {
  width: 200px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  }

.romb_solid3 {
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
  skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    position: relative;
}


.romb_dashed3 {
    width: 200px;
    height: 200px;
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    position: relative;
    }


.num3{
  font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  }

.romb3_text{
  width: 200px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  }

.romb_solid4{
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
  skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    position: relative;
  }


.romb_dashed4{
  width: 200px;
  height: 200px;
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    position: relative;
  }


.num4{
  font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  }

.romb4_text{
  width: 200px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  }

/*wrapper3*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/
  .wrapper3 {
    height: 1200;
    display: grid;
    grid-gap: 70px;
    grid-template-rows: 600px 600px;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    color: #444;
     grid-template-areas:
    "miner_left miner_right"
    "multiclet_left multiclet_right";
    }

  .wrapper3 h1 {
  height: 33px;
  font-family: ProximaNova;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #d21f26;
  color: var(--lipstick);
  } 

.wrapper3 h2 {
  font-family: ProximaNovaLight;
  font-size: 50px;
  font-weight: 300;
  text-align: left;
  color: #273444;
  }

  .wrapper3 h3 {
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  color: var(--dark);
  }  

  .wrapper3 .paremeters {
  height: 33px;
  font-family: ProximaNova;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark);
  } 

  .wrapper3 a {
  height: 22px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--lipstick);
  }

  .wrapper3 .content {
  width: 550px;  
  }

  .wrapper3 .left {
  float: right;
  }

  .miner_left {
  grid-area: miner_left;  
  }

  .miner_right {
  grid-area: miner_right;  
  }

  .miner_left img {
  float: right;
  }

  .multiclet_right {
  grid-area: multiclet_right;
  }

  .multiclet_left {
  grid-area: multiclet_left;
  height: 500px;
  }

 /*wrapper4*/
 /*------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper4 {
  height: 900px;
  background-attachment: relative;
  background-image: url(img/bitmap.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  }
.wrapper4 .darker {
  height: 900px;
  background-attachment: relative;
  background-size: 100vw 100vh;
  background-color: var(--dark);
  opacity: 0.8;
  }

.MiningCenter {
  margin: 0 auto;
  padding-top: 150px;
  width: 750px;
}

.MiningResource {
  margin: 0 auto;
  padding-top: 100px;
  width: 750px;
}

.wrapper4 h1 {
  height: 33px;
  font-family: ProximaNova;
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: var(--lipstick);
  } 

.wrapper4 h2 {
  width: 700px;
  height: 122px;
  font-family: ProximaNova;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  }

.wrapper4 h3 {
  width: 700px;
  height: 66px;
  font-family: ProximaNova;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  }

.wrapper4 p {
  width: 230px;
  height: 66px;
  font-family: ProximaNova;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  }

  .MiningResource div {
    width: 250px;
    float: left;
  }

  .MiningResource img {
    padding-left: 90px;
  }


/*wrapper5*/
/*------------------------------------------------------------------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------------------*/

/*-------------------------------------another resolution-------------------------------------*/

/*--------------------------------------------------------------------------------------------*/
@media screen and (orientation: portrait), screen and (max-width: 899px)   
{
  .wrapper {
    display: grid;
    height: 750px;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
    "logotype  burger" 
    "request request" 
    "maintext maintext"
    "maintext maintext";
    background-color: #fff;
    color: #444;
    }  

  .overlay {
    background-color: #d21f26;
    overflow: hidden;
    z-index: 1;
    grid-column: logotype / request;
    grid-row: request / maintext-end;
    }

  video {
    visibility: hidden;
    }

  .wrapper1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 125px;
    grid-template-areas:
    "leftpodval"
    "rightpodval";
    background-color: #d21f26;
    color: #444;
  }
}