:root {
  --steel-grey: #79818b;
  --darkish-blue: #003399;
  --purpley-grey: #9b9b9b;
  --black: #333333;
  --tomato: #eb4340;
  --lipstick: #d21f26;
  --dark: #273444;
  --white: #ffffff;
}



@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Reg.otf);
}

@font-face {
    
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);
}



.box1 {
    /*background-color: #28314E;*/
	/*border: 1px solid #212941;*/
	/*border-radius: 5px;*/
	/*padding: 8px 15px;*/
	 position: relative;
	font-size: 18px;
	font-family: roboto;
}

.box2{

	background-color: #d21f26;
	
}

.box3{

   background-color: white;
   font-size: 50px;

}

.box4{

   height: 500px;
   background-color: white;
   font-size: 50px;
}

.box5{

   background-color: white;

   font-size: 50px;
}

.box6{

   background-color: #d21f26;
   font-size: 50px;

}


.box7{

   background-color: white;
   font-size: 50px;
}

.box8{

   background-color: #d21f26;
   font-size: 50px;
}

video {
  -webkit-transform: scaleX(1.3);
  position: absolute;
  margin-left: -20%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 140%;
  height: auto;
  max-height: 100%;
  position: fixed;
  overflow: hidden;
  
  z-index: -1;
}


.nested {                        /*Шапка */
	grid-template-rows: 100%;
    height: 120px;
    /*border-radius: 5px;*/
   /* background-color: #475477;*/
    padding: 1em;
}


.main_text{
	margin-top: 250px;
	margin-left: 20%;
	
	margin-bottom: 10%;
}



.grid{
	display: grid;
	grid-template-rows: 800px 195px 1000px 500px 500px 500px 500px 500px;  /*задаём высоту рядов*/
	
	margin: -8px;         /*убрал по кругу отступы как мог*/
}

/*Лого верхний левый угол*/

.logo{

	margin-left: 2%;
	margin-top: 2%;
	width: 10%;
	float: left;
}

/*голова страницы*/

.headinf{

	width: 750px;
	height: 50px;
	/*background-color: #d21f26;*/
	margin-top: 2%;
	
	float: right;
}


.ru{
	padding-top: 7px;
	float: left;    
}

.oformit{
    background-color: #d21f26;
    margin-right: 25px;
    width: 298px;
    height: 44px;
    border-radius: 100px;
    float: left;
}


.oform {

    color: black;
	margin-top: 15px;
	margin-left: 40px;
    font-family: ProximaNova;
    color: white;
    font-size: 14px;
}


.kupit{
    width: 184px;
    height: 44px;
    opacity: 0.2;
    border-radius: 100px;
    border: solid 2px #4a4a4a;
    float: left;
    position: relative;
}

.kupi{
	position: absolute;
	opacity: 1;
	color: black;
	margin-left: 445px;
	margin-top: 17px;
    font-family: ProximaNova;
    font-size: 12px;
    color: #273444;
}


.burger{
	padding-top: 7px;
    float: left;
    margin-left: 5%;
}

/*НАЧАЛО ВЫБОР ЯЗЫКА*/
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: ProximaNova;
    font-size: 15px;
    color: #273444;
}


.one .submenu {
    display: none;
    background: white;
}

.one ul li:hover .submenu {
    display: block;
}


.submenu li a {
  
    color: black;
    font-family: ProximaNova;
    font-size: 10px;
    color: #273444;
}

/*КОНЕЦ ВЫБОР ЯЗЫКА*/


.redletters {
	color: #d21f26;
}

.paragraf1 {
font-family: ProximaNova;
  font-size: 55%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #273444;
  padding-top: 1%;
  
  border-top: 2px solid #D3D3D3;
  width: 35%;
}


h1{

	font-family: ProximaNova;
  font-size: 53px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
}

h3{
	font-family: ProximaNovaLight;
	font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
}

.leftpodval{
 
  font-family: ProximaNovaLight;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #FFFFE0;
  letter-spacing: normal;
  text-align: left;
  float: left;
  width: 35%;
  height: 60%;
  margin-left: 350px;
  
  
  
}




.rightpodval{
 
  color: #FFFFE0;
  margin-top: 20px;
  float: left;
  
}



.rightpodval h4{

font-family: ProximaNovaLight;
  font-size: 18px;

  
}
	

  .logos img{

margin-right: 10px;

  }
	



  input{
  width: 266px;
  height: 40px;
color: white;
 padding-top: 5px;
  float: left;
  border-radius: 100px;
  background-color : rgba(0, 255, 255, 0.23);
  border: 0px solid white ;
box-shadow: none ;
-webkit-box-shadow: none;
-moz-box-shadow: none; 
  
  
  

}

input[value]{
 font-family: ProximaNovaLight;
font-size: 20px;
text-align: center;
outline:none;



}

 
.sign
 {
  margin-left: 10px;
  

  float: right;
  width: 180px;
  height: 25px;
color: black;
  
  
  padding-bottom: 20px;
  text-align: center;
  border-radius: 100px;
  background-color: white;
  
}


.sign h4{

font-size: 13px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;

}


.RMC {
  width: 30%;
  height: 170px;
  font-family: ProximaNova;
  font-size: 70px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #273444;
  color: var(--dark);
  margin-left: 35%;
  margin-top: 4%;
}


.text1{
  width: 765px;
  height: 66px;
  font-family: ProximaNova;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #273444;
  color: var(--dark);
  margin-left: 30%;
  margin-top: -3%;

}




.panel{

  height: 50px;
  margin-top: 2%;

}

.play{

 font-family: ProximaNova;
  font-size: 18px;
  width: 130px;
  height: 50px;
  float: left;
  margin-top: 3%;
  margin-left: 37%;
}

.text_play{
float: right;
padding-top: 15px;

}


.present{

font-family: ProximaNova;
  font-size: 18px;
  width: 190px;
  height: 50px;
  float: left;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-left: 95px;
  
  

}

.text_present{

float: right;
padding-top: 15px;

}

.whitpaper{

font-family: ProximaNova;
  font-size: 18px;
  width: 190px;
  height: 50px;
  float: left;
  margin-left: 50px;
  margin-top: 50px;
  
  

}

.text_whitpaper{

float: right;
padding-top: 15px;

}





.rombi .romb2{

margin-left: 17%;
margin-top: -15%;


}

.rombi .romb3{

margin-left: 38%;
margin-top: -22%;


}

.rombi .romb4{

margin-left: 58%;
margin-top: -14%;


}






.romb_solid1{
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    margin-left: 250px;
        position: absolute;
}


.romb_dashed1{

    width: 200px;
    height: 200px;
    transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    margin-left: 250px;
    margin-top: 150px;
  position: relative;

}

.num1{


font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  margin-top: -180px;
  margin-left: 330px;

}

.romb1_text{

 width: 200px;
 
  margin-left: 270px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  margin-top: 9px;
}


.romb_solid2{
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    margin-left: 330px;
        position: absolute;
}


.romb_dashed2{

    width: 200px;
    height: 200px;
    transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    margin-left: 330px;
    margin-top: 200px;
  position: relative;

}



.num2{
  

font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  margin-top: -185px;
  margin-left: 405px;

}

.romb2_text{

 width: 200px;
 
  margin-left: 347px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  margin-top: 9px;
}



.romb_solid3{
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    margin-left: 330px;
        position: absolute;
}


.romb_dashed3{

    width: 200px;
    height: 200px;
    transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    margin-left: 330px;
    margin-top: 200px;
  position: relative;

}



.num3{
  

font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  margin-top: -185px;
  margin-left: 405px;

}

.romb3_text{

 width: 200px;
 
  margin-left: 347px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  margin-top: 9px;
}




.romb_solid4{
  width: 200px;
  height: 200px;
  transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.05);
    border: 1px solid var(--lipstick) ;
    margin-left: 330px;
        position: absolute;
}


.romb_dashed4{

    width: 200px;
    height: 200px;
    transform: rotate(135deg)
    skew(18deg, 18deg)
    scale(1.15);
    border: 1px dashed var( --purpley-grey) ;
    margin-left: 330px;
    margin-top: 200px;
  position: relative;

}


.num4{
  

font-family: ProximaNovaLight;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: red;
  margin-top: -185px;
  margin-left: 405px;

}

.romb4_text{

 width: 200px;
 
  margin-left: 347px;
  font-family: ProximaNovaLight;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  margin-top: 9px;
}



.miner1_left{
  width: 500px;
  margin-top: 400px;
  
  margin-left: 200px;
  
}


.miner1_right{
padding-bottom: 300px;
background-color: yellow;



}


.miner1_h1{


  width: 300px;
 
  margin-left: 847px;
  font-family: ProximaNovaLight;
  font-size: 50px;
  font-weight: 300;
  
  text-align: left;
  color: #273444;
  margin-top: 9px;
}


