

.box1 {
    /*background-color: #28314E;*/
	/*border: 1px solid #212941;*/
	/*border-radius: 5px;*/
	/*padding: 8px 15px;*/
	 position: relative;
	font-size: 18px;
	font-family: roboto;

}

.box2{

	background-color: #d21f26;
	font-size: 50px;
}


.box3{

   background-color: white;
   font-size: 50px;

}


.box4{

   background-color: #d21f26;
   font-size: 50px;
}


.box5{

   background-color: white;
   font-size: 50px;
}



.box6{

   background-color: #d21f26;
   font-size: 50px;

}



.box7{

   background-color: white;
   font-size: 50px;

}


.box8{

   background-color: #d21f26;
   font-size: 50px;

}


video {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  max-height: 100%;
  position: fixed;
		overflow: hidden;
  
  z-index: -1;
}


.nested {                        /*Шапка */
	grid-template-rows: 100%;
    height: 120px;
    /*border-radius: 5px;*/
   /* background-color: #475477;*/
    padding: 1em;
}


.main_text{
	margin-top: 250px;
	margin-left: 20%;
	
	margin-bottom: 10%;


}



.grid{
	display: grid;
	grid-template-rows: 800px 195px 500px 500px 500px 500px 500px 500px;  /*задаём высоту рядов*/
	
	margin: -8px;         /*убрал по кругу отступы как мог*/
}


.logo{

	margin-left: 2%;
	margin-top: 2%;
	width: 10%;
	float: left;

}

.headinf{

margin-left: 2%;
	margin-top: 2%;
	width: 10%;
	float: right;


}




.redletters {

	color: red;
}

.paragraf1 {

font-family: Verdana;
color: #161212;
padding-top: 1%;
font-size: 55%;
border-top: 2px solid #D3D3D3;
width: 35%;
}


h1{

	font-family: Arial;
	font-weight: normal;
	font-size: 285%;
	color: #161212;
}

h3{

	font-family: Verdana;
	
	font-size: 130%;
	color: #161212;

}
.paragraf1 a{

	text-decoration: none;
}