
@font-face {
    font-family: ProximaNova;
    src: url(fonts/ProximaNova-Reg.otf);
    


}

@font-face {
    
    font-family: ProximaNovaLight;
    src: url(fonts/ProximaNova-Light.otf);


}



.box1 {
    /*background-color: #28314E;*/
	/*border: 1px solid #212941;*/
	/*border-radius: 5px;*/
	/*padding: 8px 15px;*/
	 position: relative;
	font-size: 18px;
	font-family: roboto;

}

.box2{

	background-color: #d21f26;
	font-size: 50px;
}


.box3{

   background-color: white;
   font-size: 50px;

}


.box4{

   background-color: #d21f26;
   font-size: 50px;
}


.box5{

   background-color: white;
   font-size: 50px;
}



.box6{

   background-color: #d21f26;
   font-size: 50px;

}



.box7{

   background-color: white;
   font-size: 50px;

}


.box8{

   background-color: #d21f26;
   font-size: 50px;

}


video {
  -webkit-transform: scaleX(1.3);
  position: absolute;
  margin-left: -20%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 140%;
  height: auto;
  max-height: 100%;
  position: fixed;
  overflow: hidden;
  
  z-index: -1;
}


.nested {                        /*Шапка */
	grid-template-rows: 100%;
    height: 120px;
    /*border-radius: 5px;*/
   /* background-color: #475477;*/
    padding: 1em;
}


.main_text{
	margin-top: 250px;
	margin-left: 20%;
	
	margin-bottom: 10%;


}



.grid{
	display: grid;
	grid-template-rows: 800px 195px 500px 500px 500px 500px 500px 500px;  /*задаём высоту рядов*/
	
	margin: -8px;         /*убрал по кругу отступы как мог*/
}

/*Лого верхний левый угол*/

.logo{

	margin-left: 2%;
	margin-top: 2%;
	width: 10%;
	float: left;

}

/*голова страницы*/

.headinf{

	width: 750px;
	height: 50px;
	/*background-color: #d21f26;*/
	margin-top: 2%;
	
	float: right;


}


.ru{
	padding-top: 7px;
	float: left;
	
    
}

.oformit{
    background-color: #d21f26;
    margin-right: 25px;
    width: 298px;
    height: 44px;
    border-radius: 100px;
    float: left;

}


.oform {

    color: black;
	margin-top: 15px;
	margin-left: 40px;
    font-family: ProximaNova;
    color: white;
    font-size: 14px;
}


.kupit{
    width: 184px;
    height: 44px;
    opacity: 0.2;
    border-radius: 100px;
    border: solid 2px #4a4a4a;
    float: left;
    position: relative;
    

}

.kupi{
	position: absolute;
	opacity: 1;
	color: black;
	margin-left: 445px;
	margin-top: 17px;
    font-family: ProximaNova;
    font-size: 12px;
    color: #273444;




}


.burger{
	padding-top: 7px;
    float: left;
    margin-left: 5%;


}


/*НАЧАЛО ВЫБОР ЯЗЫКА*/

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}


.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    outline: none;
    font-family: ProximaNova;
    font-size: 15px;
    color: #273444;
  
}


.one .submenu {
    display: none;
    background: white;
  
}

.one ul li:hover .submenu {
    display: block;
}


.submenu li a {
  
    color: black;
    font-family: ProximaNova;
    font-size: 10px;
    color: #273444;
}

/*КОНЕЦ ВЫБОР ЯЗЫКА*/



.redletters {

	color: #d21f26;
	
	

}

.paragraf1 {


font-family: ProximaNova;
  font-size: 55%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #273444;
  padding-top: 1%;
  
  border-top: 2px solid #D3D3D3;
  width: 35%;

}


h1{

	font-family: ProximaNova;
  font-size: 53px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #273444;
  
}

h3{

	
	font-family: ProximaNovaLight;
	font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #273444;

}


	
	

