#container{
position: absolute;
top: 10px;
left: 120px;
height: 460px;
width: 1040px; /* 3 images of 150px showing with a 10px margin = 3*(150) + 2*(10) = 470 */
overflow: hidden;
}
 
 
#container img{
position: absolute;
top: 0px;
height: 460px;
width: 340px;
cursor: pointer;
overflow: hidden;
}
 
#carouselLeft{
position: absolute;
top: 190px;
left: 0px;
cursor: pointer;
}

#carouselRight{
position: relative;
top: 190px;
left: 1200px;
cursor: pointer;
}