
body {
  margin: 0px;
}

    .wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(4, [col] 1fr ) ;
        grid-template-rows: repeat(11, [row] 1fr );
        background-color: #fff; /*это чтобы видеть границы*/
        color: #444;

    }

    .box {
        background-color: #444; /*это чтобы видеть границы*/
        color: #fff;
        border-radius: 0px;
        padding: 0;
        /*font-size: 150%;*/
    }

    .box .box { /*это чтобы видеть границы дивов*/
        background-color: #ccc;
        color: #444;
    }

    .A {
        grid-column: col / span 4;
        grid-row: row 1  ;
    }

    .B {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 200px ;
    }

    .C {
        grid-column: col / span 4;
        grid-row: row 3 ;
    }

    .D {
        grid-column: col / span 4;
        grid-row: row 4;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    .Da {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .Db {
        grid-column: 1;
        grid-row: 2;
    }

    .Dc {
        grid-column: 2;
        grid-row: 2;
    }

    .E {
        grid-column: col / span 4;
        grid-row: row 5;
    }

    .F {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 6;
    }

    .G {
        grid-column: col / span 4;
        grid-row: row 7;
    }
    .H {
        grid-column: col / span 4;
        grid-row: row 8;
    }

    .I {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 9;
    }

    .J {
        grid-column: col / span 4;
        grid-row: row 10;
    }

    .K {
        grid-column: col / span 4;
        grid-row: row 11;
    }

video {
  -webkit-transform: scaleX(1.5);
    position: inherit;
    width: 100vw;
    height: 100vh;

}

.info {
  font-family: ProximaNovaLight;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #FFFFE0;
  letter-spacing: normal;
  text-align: left;
  float: left;
  padding-left: 200px;
    grid-column: 1;
    grid-row: 1;
}

.feedback {
  color: #FFFFE0;
  margin-top: 20px;
  float: left;
    grid-column: 2;
    grid-row: 1;
}

input {
  width: 266px;
  height: 40px;
  color: white;
  padding-top: 5px;
  float: left;
  border-radius: 100px;
  background-color : rgba(0, 255, 255, 0.23);
  border: 0px solid white ;
  box-shadow: none ;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; 
}

input[value] {
  font-family: ProximaNovaLight;
  font-size: 20px;
  text-align: center;
  outline:none;
}

.sign {
  margin-left: 10px;
  float: right;
  width: 180px;
  height: 25px;
  color: black;  
  padding-bottom: 20px;
  text-align: center;
  border-radius: 100px;
  background-color: white;
}

.sign h4 {
  font-size: 13px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
}