body {
  margin: 0px;
}

    .wrapper {
        display: grid;
      grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 1fr ) ;
        grid-template-rows: repeat(11, [row] 1fr );
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

    .box .box {
        background-color: #ccc;
        color: #444;
    }

    .A {
        grid-column: col / span 4;
        grid-row: row;
    }

    .B {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 2;
    }

    .C {
        grid-column: col / span 4;
        grid-row: row 3;
    }

    .D{
        grid-column: col / span 4;
        grid-row: row 4;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .Da {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .Db {
        grid-column: 1;
        grid-row: 2;
    }

    .Dc {
        grid-column: 2;
        grid-row: 2;
    }

    .E {
        grid-column: col / span 4;
        grid-row: row 5;
    }

    .F {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 6;
    }

    .G {
        grid-column: col / span 4;
        grid-row: row 7;
    }
    .H {
        grid-column: col / span 4;
        grid-row: row 8;
    }

    .I {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 9;
    }

    .J {
        grid-column: col / span 4;
        grid-row: row 10;
    }

    .K {
        grid-column: col / span 4;
        grid-row: row 11;
    }
video {
  -webkit-transform: scaleX(1.3);
  position: inherit;
}