body {
  margin: 0px;
}

    .wrapper {
        display: grid;
      grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 1fr ) ;
        grid-template-rows: repeat(11, [row] 1fr );
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

    .box .box {
        background-color: #ccc;
        color: #444;
    }

    .a {
        grid-column: col / span 4;
        grid-row: row;
    }

    .b {
        background-color: #d21f26;
        grid-column: col / span 4;
        grid-row: row 2;
    }

    .c {
        grid-column: col / span 4;
        grid-row: row 3;
    }

    .d{
        grid-column: col / span 4;
        grid-row: row 4;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .e {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .f {
        grid-column: 1;
        grid-row: 2;
    }

    .g {
        grid-column: 2;
        grid-row: 2;
    }

video {
  -webkit-transform: scaleX(1.3);
  position: inherit;
}