#page {
  display: grid;
  margin: -8px;
  
  
  
  grid-template-areas: 
                       "logo . request request "
                       ". . . ."
                       "  maintext maintext maintext ."
                       "social  social  email email"
                       "govno govno govno govno ";


  grid-template-rows:  150px 220px 420px 200px 2800px;
  grid-template-columns: repeat(auto-fit, 1fr);

  
}








.logo {
  grid-area: logo;
  

}





.request {
  /*align-self: center;   Выравнивание содержимого ячейки по вертикали по центру*/

  
  grid-area: request;
  background-color: #ffa08c;
}

.maintext {
  grid-area: maintext;
  background-color: #ffff64;
  opacity: 0.5;
  text-align: center;


  
}

.social {
  grid-area: social;
  background-color: red;
}


.email {
  grid-area: email;
  background-color: red;
  
  
}


.govno {
  grid-area: govno;
  background-color: white;
}







.overlay {
    background-color: red; /*#d21f26;    /*пиздец костылина*/
    overflow: hidden;
    z-index: -11;
    grid-column: logo-start / request-end;
    grid-row: request-start / maintext-end;
  }

  video {
    /*-webkit-transform: scaleX(1.5);*/
    position: relative;
    width: 100%;
    height: auto ;
    }





@media screen and (orientation: portrait), screen and (max-width: 1100px)  {





#page {
  display: grid;
  width: 100%;
  
  grid-template-areas: 
                       "logo request "
                       " maintext maintext"
                       "social  social"
                       "email email"
                       "govno govno";


  grid-template-rows: 150px 550px 200px 200px 800px;
  grid-template-columns: repeat(auto-fit,  1fr);
  
}

.maintext {
  grid-area: maintext;
  font-size: 30px;
  opacity: 0.5;
  padding: 60px;
  

}




  video {
    visibility: hidden;
    }




}
