#page {
  display: grid;
  margin: -8px;
  
  
  
  grid-template-areas: "vidos vidos vidos vidos  "
                       "logo . request request "
                       ". . . ."
                       "  maintext maintext maintext ."
                       "social  social  email email"
                       "govno govno govno govno ";


  grid-template-rows: 20px 150px 120px 320px 200px 2800px;
  grid-template-columns: repeat(auto-fit, 1fr);

  
}





#page > vidos {
  grid-area: vidos;
  
}


#page > logo {
  grid-area: logo;
  

}





#page > request {
  /*align-self: center;   Выравнивание содержимого ячейки по вертикали по центру*/

  
  grid-area: request;
  background-color: #ffa08c;
}

#page > maintext {
  grid-area: maintext;
  background-color: #ffff64;
  opacity: 0.5;
  text-align: center;


  
}

#page > social {
  grid-area: social;
  background-color: red;
}


#page > email {
  grid-area: email;
  background-color: red;
  
  
}


#page > govno {
  grid-area: govno;
  background-color: white;
}



.video-container{

 background-size: cover; 
 overflow: hidden;
 position: relative;
}


video {
    
    position: absolute;
    z-index: -100;
    width: 100% ;
    height: 100% ;
    
}



@media only screen and (orientation: portrait) {





#page {
  display: grid;
  width: 100%;
  
  grid-template-areas: "vidos . "
                       "logo request "
                       " maintext maintext"
                       "social  social"
                       "email email"
                       "govno govno";


  grid-template-rows: 20px 150px 550px 200px 200px 800px;
  grid-template-columns: repeat(auto-fit,  1fr);
  
}

#page > maintext {
  grid-area: maintext;
  font-size: 30px;
  opacity: 0.5;
  padding: 60px;
  
}






}
